.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  z-index: 1;
}

.toolbar img {
  margin: 0 16px 0 0;
}

.side-nav {
  top: 40px;
  padding: 1rem;
  position: fixed;
  background-color: white;
  opacity: 0.5;
  min-height: 100vh;
  color: black;
}

.main-container {
  top: 40px;
  margin-left: 16.67%;
  padding: 1rem;
  min-height: 92vh;
  background-color: aliceblue;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  cursor: pointer;
  padding: 4px 0;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.active {
  color: #1976d2;
}
